.App {
  text-align: center;
  background-color: #0E0E10; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (min-width: 768px) {
  .App-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(37, 3, 3);
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
